.main {
    height: 100vh;
}

.mat-sidenav-container {
    height: 100vh;
    .mat-sidenav {
        background: white;
        border-radius: 0;
        color: green;
        .mat-mdc-list-item {
            color: green;
        }
    }
}
