<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main class="main">
  <div class="content">
    <mat-sidenav-container>
      <mat-sidenav opened="true" disableClose="true" #sidenav mode="push">
        <mat-list>
          <div mat-subheader>Folders</div>
          @for (folder of folders; track folder) {
            <mat-list-item>
              <mat-icon matListItemIcon>folder</mat-icon>
              <div matListItemTitle>{{folder.name}}</div>
              <div matListItemLine>{{folder.updated | date}}</div>
            </mat-list-item>
          }
          <div mat-subheader>Notes</div>
          @for (note of notes; track note) {
            <mat-list-item>
              <mat-icon matListItemIcon>note</mat-icon>
              <div matListItemTitle>{{note.name}}</div>
              <div matListItemLine>{{note.updated | date}}</div>
            </mat-list-item>
          }
        </mat-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <app-top-nav></app-top-nav>
        <router-outlet />
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

